<div class="example-container">
    <form [formGroup]="angForm">
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Hotel name" formControlName = "hotelname">
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Hotel fullname" formControlName = "hotelfullname">
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <mat-form-field>
            <input type="number" min="0" oninput="validity.valid||(value='');" matInput placeholder="Number of rooms" formControlName = "roomnumber">
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <mat-form-field>
            <input type="number" min="0" oninput="validity.valid||(value='');" matInput placeholder="Available rooms" formControlName = "availablerooms">
          </mat-form-field>
        </div>

        <!-- <Upload label="Add" onFileLoad={this.onFileLoad}/> -->
        <div class="container">
            <input #fileUpload type="file" (click)="fileUpload.value = null"(change)="importFile($event)" style="display:none"
              accept="image/*">
            <button (click)="fileUpload.click()"> Upload </button>
          </div>
        <!-- <div class="form-group">
          <mat-form-field>
            <input matInput type="file" placeholder="Pictures" formControlName = "pictures">
          </mat-form-field>
        </div> -->
        
        <div class="form-group">
          <button mat-button color="primary" type="submit" (click)="addHotel(angForm.value)" [disabled]="angForm.pristine || angForm.invalid">ENTER</button>
        </div>
      </div>
    </form>
  </div>
