<mat-accordion>
    <mat-expansion-panel *ngFor="let hotel of hotels">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{hotel.qname}}
        </mat-panel-title>
        <mat-panel-description>
          {{hotel.fullname}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Number of rooms</h2>
      <h3>{{hotel.room_number}}</h3>
      <br>
      <h2>Number of available rooms</h2>
      <h3>{{hotel.availalble_rooms}}</h3>

      <button color = "primary" mat-button *ngIf="user" (click)="reservate(hotel)">Reserve</button>
      <button color = "primary" mat-button *ngIf="isAdmin" (click)="start_edit(hotel)" routerLink="updatehotel" class="nav-link" routerLinkActive="active">Edit</button>
      <button color = "warn" mat-button *ngIf="isAdmin" (click)="delete_hotel(hotel)">Delete</button>
      <h1>Photos</h1>
      <!-- <img src="{{picture}}" > -->
      <h3 *ngIf="hotel.images[0] == 'no_image'; else vankep">No image to show</h3>
      <ng-template #vankep>
        <img class="img-responsive smaller" src="{{hotel.images[0]}}" />
      </ng-template>
    
    </mat-expansion-panel>
</mat-accordion>
