<mat-accordion>
    <mat-expansion-panel *ngFor="let hotel of hotels">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{hotel.qname}}
        </mat-panel-title>
        <mat-panel-description>
          {{hotel.fullname}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Number of rooms</h2>
      <h3>{{hotel.room_number}}</h3>
      <br>
      <h2>Number of available rooms</h2>
      <h3>{{hotel.availalble_rooms}}</h3>

      <button color = "primary" mat-button *ngIf="user" color = "Primary" (click)="reservate(hotel)">Reserve</button>
      <button color = "warn" mat-button *ngIf="isAdmin">Delete</button>
      <!-- <h1>{{hotel.image}}</h1>
      <img src="{{hotel.image}}"> -->
    
    </mat-expansion-panel>
</mat-accordion>
