<div class="example-container">
  <form [formGroup]="angForm" novalidate>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <mat-form-field>
        <div class="form-group">
          <input matInput placeholder="Username" formControlName="username">
        </div>
        <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)" class="alert alert-danger">
          <mat-error *ngIf="angForm.controls['username'].errors.required">
            Required
          </mat-error>
        </div>
      </mat-form-field>
      
      <mat-form-field>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
      
      
      <a mat-button>ENTER</a>
    
    </div>
  </form>
</div>