<!--The content below is only a placeholder and can be replaced.-->

<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<mat-toolbar color="primary">Repter
    <ng-container *ngIf = "true; else template" >
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <a  mat-menu-item routerLink="listhotels" class="nav-link" routerLinkActive="active">Hotels</a>
      <a  *ngIf="user && user.admin" mat-menu-item routerLink="addhotel" class="nav-link" routerLinkActive="active">Add hotel</a>
      <a  *ngIf="user && user.admin" mat-menu-item routerLink="listusers" class="nav-link" routerLinkActive="active">List users</a>
    </mat-menu>
    </ng-container>

    <ng-template #template>
      <a mat-button routerLink="listhotels" class="nav-link" routerLinkActive="active">Hotels</a>
      <a mat-button *ngIf="user && user.admin" routerLink="addhotel" class="nav-link" routerLinkActive="active">Add hotel</a>
      <a mat-button *ngIf="user && user.admin" routerLink="listusers" class="nav-link" routerLinkActive="active">List users</a>
    </ng-template>

    <span class = "gap"></span>
    <span class = "filler"></span>
    <button mat-button [matMenuTriggerFor]="menu">Theme</button>
      <mat-menu #menu="matMenu">
        <button mat-raised-button color="primary" (click)="onSetTheme('default-theme')">Default</button>
        <button mat-raised-button color="primary" (click)="onSetTheme('dark-theme')">Dark</button>
        <button mat-raised-button color="primary" (click)="onSetTheme('light-theme')">Light</button>
      </mat-menu>
      <a *ngIf = "user == null" mat-button routerLink="signup" class="nav-link" routerLinkActive="active">Sign-up</a>
      <a *ngIf = "user == null" mat-button routerLink="login" class="nav-link" routerLinkActive="active">Log-in</a>
      
      <a *ngIf = "user != null" mat-button routerLink="user-profile" class="nav-link" routerLinkActive="active">{{user.username}}</a>
      <a *ngIf = "user != null" mat-button (click) = "log_out(true)" class="nav-link" routerLinkActive="active">Log-out</a>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>