<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.username}}
      </mat-panel-title>
      <mat-panel-description>
        {{user.fullname}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h2>Email</h2>
    <h3>{{user.email}}</h3>
    <br>
    <h2>Admin</h2>
    <h3 *ngIf="user.admin">
      Yes
    </h3>
    <h3 *ngIf="!user.admin">
      No
    </h3>
    
    <button *ngIf="!user.admin" color = "warn" mat-button (click) = "delete_user(user)">Delete</button>
  </mat-expansion-panel>
</mat-accordion>