<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.username}}
      </mat-panel-title>
      <mat-panel-description>
        {{user.fullname}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h2>Email</h2>
    <h3>{{user.email}}</h3>
    <br>
    <h2>Admin</h2>
    <h3 *ngIf="user.admin">
      Yes
    </h3>
    <h3 *ngIf="!user.admin">
      No
    </h3>

    <mat-expansion-panel *ngFor="let res of user.reservations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{res.hotel}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Number of rooms</h2>
      <h3>{{res.room_number}}</h3>
      <br>
      <h2>Reserved date</h2>
      <h3>{{res.created}}</h3>

      <h2>Reservation is valid?</h2>
      
      <mat-slide-toggle *ngIf="res.valid == true" checked=true >Valid reservation</mat-slide-toggle>
      <mat-slide-toggle *ngIf="res.valid != true" checked=false >InValid reservation</mat-slide-toggle>
    
    </mat-expansion-panel>
    
    <button *ngIf="!user.admin" color = "warn" mat-button (click) = "delete_user(user)">Delete</button>
  </mat-expansion-panel>
</mat-accordion>