<div fxLayout="column" fxLayoutAlign="space-around center">

<mat-card class="example-card">
  <div *ngIf = "!edit">
  <!-- <div *ngIf = "!true"> -->
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title *ngIf="user">{{user.username}}</mat-card-title> -->
      <!-- <mat-card-title *ngIf="user">{{user.username}}</mat-card-title> -->
      <mat-card-title *ngIf="user">{{user.username}}</mat-card-title>
      <mat-card-subtitle *ngIf="user">{{user.fullname}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="user">{{user.email}}</mat-card-subtitle>
      
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <!-- <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p> -->

      <mat-accordion *ngIf="user">
        <mat-expansion-panel *ngFor="let res of user.reservations">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{res.hotel}}
            </mat-panel-title>
            <!-- <mat-panel-description>
              {{res.fullname}}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <h2>Number of rooms</h2>
          <h3>{{res.room_number}}</h3>
          <br>
          <h2>Reserved date</h2>
          <h3>{{res.created}}</h3>
          <button color = "warn" mat-button *ngIf="user">Delete reservation</button>
          <!-- <h1>{{hotel.image}}</h1>
          <img src="{{hotel.image}}"> -->
        
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button color = "primary" (click)="start_edit()" mat-button>Edit</button>
      <button color = "warn" (click) = "delete_user()" mat-button>Delete</button>
    </mat-card-actions>
  </div>

  <!-- <<<<<<<<<<<<<<<<<<<<< EDIT >>>>>>>>>>>>>>>>>>>> -->
  <div *ngIf = "edit">
    <form [formGroup]="angForm">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title *ngIf="user">{{user.username}}</mat-card-title> -->
        <!-- <mat-card-title *ngIf="user">{{user.username}}</mat-card-title> -->
        <mat-card-title *ngIf="user">
          <!-- <div class="form-group">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="{{user.username}}" formControlName = "username">
            </mat-form-field>
          </div> -->
          <mat-card-title *ngIf="user">{{user.username}}</mat-card-title>
        </mat-card-title>
        <mat-card-subtitle *ngIf="user">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Fullname</mat-label>
            <input matInput placeholder="{{user.fullname}}" formControlName = "fullname">
          </mat-form-field>
        </div>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="user">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type = "email" matInput placeholder="{{user.email}}" formControlName = "email">
            </mat-form-field>
          </div>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="user">
          <div class="form-group">
            <mat-form-field class="form-group">
              <mat-label>New password</mat-label>
              <input type = "password" matInput formControlName = "password">
            </mat-form-field>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <!-- <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p> -->
        </mat-card-content>
      <mat-card-actions>
        <div class="form-group">
          <button type="submit" color = "primary" (click) = "save_changes(angForm.value)" mat-button>Save</button>
        </div>
        <button color = "warn" (click) = "cancel_edit()" mat-button>Cancel</button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>

</div>